<div class="row custom-form">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    Render by theme template twig
  </div>
  <div class="col-md-5">
   {{ form }}
  </div>
</div>
<hr />
<div class="row custom-form">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    Render fields separately
  </div>
  <div class="col-md-5">
   {{ form.group.country }}
   {{ form.submit }}
  </div>
</div>

